.section-header-two {
  max-width: 1076px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 80px;
  border-bottom: solid #eaeaea 3px;
  padding-bottom: 30px;
  margin: 30px auto;
}

.title-header2 {
  font-size: large;
  font-size: 40px;
  color: white;
  margin-top: 20px;
}
